@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding:0;
  display: flex;
  overflow: auto;
}

.box{
  height:200px;
  width:200px;
  background-color: aqua;
  border: 2px solid blue;
}

#paragraph{
  font-size: 30px;
  position: sticky;
  top:0;
  background-color: red;
  padding: 10px;
  color:white;
}

.line{
  width:100%;
  background-color:red;
  height: 5px;
  position: fixed;
  top:0;
  transform-origin: left;
  left:0;
}

.mask{
  position: absolute;
  mask-image: url(../public/mask.svg);
  background: red;
  mask-repeat: no-repeat;
  mask-size: 50px;
  background:linear-gradient(red 35%,crimson 45%);
  color:black;
}

/* .mask:hover{
  mask-size: 350px;
  color:black;
  mask-position: 50%;
} */

.main{
  position: relative;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  
  overflow: hidden;
  color: #444;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  pointer-events: none;
  clip-path: inset(0 100% 0 0); /* initial state */
  mask-image: linear-gradient(to right, white 100%, transparent 100%);
}